body, .main-footer {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #e4eef5;
}


/* ScrollBar */
::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
    height: 6px;
}

::-webkit-scrollbar-thumb {
    border-radius: 12px;
    background-color: rgba(13, 14, 18, 0.2);
}

::-webkit-scrollbar-track {
    border-radius: 12px;
    background-color: #ccc;
}

.main-footer {
    margin-right: 250px;
    text-align: center;
}

.error {
    color: red;
    font-size: 95%;
}



table tr:nth-child(even) {
    background-color: #fff;
}


a {
    text-decoration: none;
}

.form-group input, select {
    height: 50px;
}

.btn-status-err {
    font-size: 10px;
    padding: 6px 8px;
    color: #F64E60;
    background-color: #FFE2E5;
    border-radius: 8px;
}

.btn-status-suc {
    font-size: 10px;
    padding: 6px 8px;
    color: #1BC5BD;
    background-color: #C9F7F5;
    border-radius: 8px;
}

.btn-status-war {
    font-size: 10px;
    padding: 6px 8px;
    color: #fff;
    background-color: #FFA800;
    border-radius: 8px;
}

.btn-row {
    display: flex;
}

table thead tr {
    background-color: #f9fafb;
}

tbody tr {
    background-color: #ff57220d;
}

tbody tr td {
    font-size: 13px;
    color: #000;
}


th {
    text-align: center;
    font-size: 14px;
    font-weight: 500;
}


#MessageFlash {
    display: flex;
}

#MessageFlash img {
    width: 40px;
    height: 40px;
}

.suc {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    gap: 8px;
    top: 60px;
    right: 10px;
    width: auto;
    height: 70px;
    padding: 4px 10px;
    color: #fff;
    font-size: 14px;
    background: #1BC5BD;
    z-index: 99999999;
}

.err {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    gap: 8px;
    top: 60px;
    right: 10px;
    width: auto;
    height: 70px;
    padding: 4px 10px;
    color: #fff;
    font-size: 14px;
    background: #dc4f5e;
    z-index: 99999999;
}

.menu__item {
    border: 1px solid #15a05c;
    border-radius: 10px;
    padding: 10px 5px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    width: 160px;
    text-align: center;
}

.menu__item-image {
    width: 65px;
    height: 65px;
}

.menu__item:hover {
    box-shadow: 1px 1px 10px #15a05c;
}

.menu__item-title {
    font-size: 14px;
    font-weight: 600;
    color: #000;
}

.menu__list {
    padding: 2px 0;
    display: flex;
    /* justify-content: space-between; */
    gap: 20px;
    overflow-x:auto;
}

.min {
    font-weight: bold;
    margin-left: 10px;
    padding: 10px 10px;
    background-image: linear-gradient(to right, #7dc242, #3b9d46);
    border: none;
}

.minn {
    background-image: linear-gradient(to right, #7dc242, #3b9d46);
    border: none;
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    background: #fff;
    box-shadow: 0px 20px 60px 10px rgba(237, 237, 246, 0.1);
    padding: 0 30px;
    border-bottom: 1px solid #000;
    z-index: 9999;
}


.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo__image {
    width: 110px;
    height: 70px;
    border-radius: 12px;
    object-fit: cover;
}

.logo__title {
    color: #000;
    font-size: 24px;
    font-weight: 700;
    margin-top: 20px;
}

.nav__list {
    display: flex;
    align-items: center;
}

.nav__item {
    color: #000;
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin: 10px 5px;
    font-size: 13px;
    padding: 12px 10px;
}

.nav__item:hover {

    color: #000;
    background-color: #eee;
}

.image__room {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #dc3545;
    border-radius: 50%;
}

.image__bill {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    background-color: #ED6004;
    border-radius: 50%;
}

.image__bill-img {
    width: 20px;
    height: 20px;
}

.content-header {
    margin-top: 100px;
}


.image__contract {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #7dc242;
    border-radius: 50%;
}

.image__room-img {
    width: 30px;
    height: 30px;
}

.tenant_avt {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #7dc242;
    border-radius: 50%;
}

.box-content {
    margin-top: 15px;
    width: auto;
    height: auto;
    background: #fff;
    border-radius: 15px;
    padding: 20px 20px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 99;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 8% auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 12px;
    width: 30%;
    height: auto;
  }
  
  .close {
    color: #7f7d7d;
    float: left;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
.btn-kyhopdong-err {
    font-size: 10px;
    padding: 6px 8px;
    color: #fff;
    background-color: #dc3545;
    border-radius: 8px;
}

.btn-kyhopdong-second {
    font-size: 10px;
    padding: 6px 8px;
    color: #fff;
    background-color: #1a1919;
    border-radius: 8px;
}

.btn-kyhopdong-war {
    font-size: 10px;
    padding: 6px 8px;
    color: #fff;
    background-color: #6c757d;
    border-radius: 8px;
}

.btn-kyhopdong-suc {
    font-size: 10px;
    padding: 6px 8px;
    color: #fff;
    background-color: #7dc242;
    border-radius: 8px;
}

.dashboard-content {
    padding: 0;
    display: flex;
    justify-content: space-between;
}


.content-left {
    padding: 15px 15px;
    width: 60%;
    height: auto;
    background-color: #FFF;
}

.content-right {
    padding: 15px 15px;
    width: 40%;
    height: auto;
    background-color: #FFF;
}

.total-room {
    padding: 10px 15px 25px;
    width: 100%;
    background-color: #28788f;
    border-radius: 12px;
    height: 120px;
    color: #fff;
}

.content-left-title {
    display: flex;
    align-items: center;
    gap: 10px;
}

.content-left-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: hsla(0, 0%, 100%, .2);
    border-radius: 50%;
}

.total-desc {
    margin-top: 20px;
    font-size: 16px;
    font-weight: bold;
}

.total-count {
    text-align: center;
    font-size: 26px;
    font-weight: bold;
}

.content-left-child {
    color: #fff;
    display: flex;
    gap: 20px;
    margin-top: 15px;
}

.child-one {
    position: relative;
    width: 50%;
    height: 120px;
    background: #018dff;
    border-radius: 14px;
}

.child-two {
    position: relative;
    height: 120px;
    width: 50%;
    background-color: #ff9800;
    border-radius: 14px
}

.child-three {
    position: relative;
    height: 120px;
    width: 50%;
    background-color: #3ca05c;
    border-radius: 14px
}

.child-four {
    position: relative;
    height: 120px;
    width: 50%;
    background-color: #e04719;
    border-radius: 14px
}

.child-five {
    width: 100%;
    padding: 5px;
    height: 120px;
    background: #fff4f4;
    border-radius: 14px;
    color: red;
}

.child-six {
    margin-top: 12px;
    width: 100%;
    padding: 10px;
    height: 120px;
    background: #ffc1072e;
    border-radius: 14px;
    color: #ff9800 !important;
}

.child-seven {
    margin-top: 12px;
    width: 100%;
    padding: 10px;
    height: 120px;
    background: #d0ffdf;
    border-radius: 14px;
    color: #3ca05c !important;
}

.dashboard-link {
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 120px 15px 15px 10px;
    background: hsla(0, 0%, 100%, .2);
    bottom: 10px;
    right: 10px;
   
}

.background-icon {
    background: hsl(0deg 100% 80% / 20%) !important;
}

.active {
    background-color: #f0f0f0; /* Màu nền khi mục menu được kích hoạt */
    /* Các thuộc tính CSS khác cho mục menu được kích hoạt */
}


/* Service */

.box-service {
    display: flex;
    gap: 30px;
}

.service-left {
    width: 35%;
}

.collect-left {
    width: 100%;
}

.collect-item {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    border: 1px solid #ccc;
    padding: 20px 20px;
    border-radius: 12px;
    width: 30%;
}

.collect-item:hover {
    box-shadow: 1px 1px 8px #15a05c;
}

.collect-left_top {
    justify-content: space-between;
    display: flex;
}

.collect-list {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.service-right {
    width: 60%;
    height: auto;
}

.service-left_top {
    display: flex;
    justify-content: space-between;
}

.service-btn {
    background-color: #15a05c;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: all 0.3s;
}

.service-btn:hover {
    scale: 1.1;
}

.service-item {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    border: 1px solid #ccc;
    padding: 10px 10px;
    border-radius: 12px;
}

.service-item_left {
    display: flex;
    gap: 12px;
}

.service-item_icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background: #e6e4e4;
    border-radius: 50%;
}

.service-item_left p {
    font-size: 14px;
}

.service-item_left i {
    font-size: 14px;
    color: #7dc242;
}

.service-item_left h6 {
    font-weight: bold;
}

.service-item_right {
    display: flex;
    align-items: center;
    gap: 10px;
}

.service-item_right .edit {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #eee;
}

.service-item_right .del {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #ee3a4e;
}

.water {
    margin-top: 20px;
    margin-bottom: 30px;
    padding: 20px 20px;
    width: auto;
    height: auto;
    background: #fff;
    border-radius: 10px;
    box-shadow: 1px 1px 8px #ccc;
}

.right-inner {
    display: flex;
    justify-content: space-between;
}

.small {
    width: 30px;
    height: 30px;
}

.report-receipt-spend {
    margin-top: 30px;
    display: flex;
    gap: 20px;
}

.report-receipt {
    background: #4caf5014;
    border-radius: 10px;
    width: 250px;
    padding: 10px 10px;
}


.report-spend {
    background: #4caf5014;
    border-radius: 10px;
    width: 250px;
    padding: 10px 10px;
}

.report-sumary {
    color: #198754;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #4caf5014;
    border-radius: 10px;
    width: 250px;
    padding-top: 20px;
}

.report-ts {
    display: flex;
    align-items: center;
    gap: 10px;
}

.report-ts p { 
    font-size: 20px;
    font-weight: bold;
    color: #198754;
}

.sumary-title {
    margin-top: 50px;
    margin-bottom: 8px;
    font-size: 22px;
}

#date_input_container select {
    width: 200px;
    height: 50px;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 0 8px;
}
#date_input_container input {
    width: 200px;
    height: 50px;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 0 8px;
}

.sumary-content {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.sumary-left {
    width: 60%;
}

.sumary-right {
    width: 40%;
}

